;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Jan  7 17:56:47 2015
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/work/chredesign/www/impose/child-website/" "~/work/chredesign/www/impose/child-website/_source/sass/" "~/.emacs" "~/work/chredesign/www/impose/child-website/_source/sass/main-style.sass" "~/work/chredesign/www/impose/child-website/index.htm" "~/work/chredesign/www/impose/child-website/make.sh"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/nikitindiz/work/chredesign/www/impose/child-website/index.htm"
  "index.htm"
  'html-mode
  '(yas-minor-mode emmet-mode)
  454
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/nikitindiz/work/chredesign/www/impose/child-website/_source/sass/main-style.sass"
  "main-style.sass"
  'sass-mode
  '(yas-minor-mode)
  54
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/nikitindiz/work/chredesign/www/impose/child-website/make.sh"
  "make.sh"
  'sh-mode
  '(auto-complete-mode yas-minor-mode)
  74
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

